@font-face
  font-family: GeoSansLight
  src: url('/fonts/GeosansLight.ttf')

*
  margin: 0
  padding: 0

html, body
  height: 100%
  width: 100%
  background-position: center center
  font-family: 'GeoSansLight', 'Georgia', sans-serif
  background: -webkit-gradient(radial, center center, 100, center center, 1000, from(#fff), to(#ddd))
  background: -moz-gradient(radial, center center, 100, center center, 1000, from(#fff), to(#ddd))

#quote
  width: 800px
  margin: auto
  position: relative
  padding: 30px 50px
  font-family: 'Georgia'
  blockquote#content
    font-weight: bold
    font-size: 3.5em
    color: #333
    z-index: 10
    text-align: justify
  #mark
    font-size: 500px
    height: 250px
    line-height: 475px
    color: #ddd
    float: left
    width: 0
    margin: -125px 0 0 -200px
    z-index: 1
  #author
    font-style: italic
    text-align: right
    font-size: 1.2em
    margin: 30px 0 0 0
    color: #555
    float: right
    &:before
      content: '- '

#footer, #actions
  position: fixed
  bottom: 0
  padding: 5px 10px
  color: #aaa
  a
    color: #777
    text-decoration: none
#footer
  right: 0
#actions
  left: 0
