@font-face
  font-family: UnderwoodChampion
  src: url('/fonts/underwood_champion.ttf')

*
  margin: 0
  padding: 0

html, body
  height: 100%
  width: 100%
  background-position: center center
  font-family: 'UnderwoodChampion', sans-serif
  background: -webkit-gradient(radial, center center, 100, center center, 1000, from(#fff), to(#ddd))
  background: -moz-gradient(radial, center center, 100, center center, 1000, from(#fff), to(#ddd))

#quote
  width: 800px
  margin: auto
  position: relative
  blockquote#content
    font-weight: bold
    font-size: 2em
    color: #333
    z-index: 10
    text-align: justify
  #author
    text-align: right
    font-size: 1.2em
    margin: 30px 0 0 0
    color: #555
    &:before
      content: '- '

#loader
  margin: auto
  background-image: url('/images/loader.gif')
  background-repeat: no-repeat
  height: 11px
  width: 16px

#footer, #actions
  position: fixed
  bottom: 0
  padding: 5px 10px
  color: #aaa
  font-size: 0.8em
  a
    color: #777
    text-decoration: none
#footer
  right: 0
#actions
  left: 0
