!!!
%head
  %title Quotes

  %meta{charset: "utf-8"}
  %link{rel: 'stylesheet', type: 'text/css', href: 'css/style.css'}
  %script{language: 'javascript', src: 'vendor/jquery.js'}
  %script{language: 'javascript', src: 'vendor/underscore.js'}
  %script{language: 'javascript', src: 'js/quotesaver.js'}

%body
  #quote
  #actions
  #footer
    %p
      app and quotations curated by
      %a{href: 'http://pewniak747.info', target: '_new'} pewniak747.
      Source on
      %a{href: 'http://github.com/pewniak747/quotesaver', target: '_new'} GitHub
