!!!
%head
  %title Quotes

  %meta{charset: "utf-8"}
  %link{rel: 'stylesheet', type: 'text/css', href: 'css/style.css'}
  %script{language: 'javascript', src: 'vendor/jquery.js'}
  %script{language: 'javascript', src: 'vendor/underscore.js'}
  %script{language: 'javascript', src: 'js/quotesaver.js'}

%body
  #quote
    #mark &ldquo;
    %blockquote#content= @quote['quote']
    #author= @quote['author']
  #actions
    - if @quote['tweet']
      %a#tweet{href: @quote['tweet'], target: '_new'} tweet it
      | 
    %a#next{href: '/'} next quote
  #footer
    %p 
      2012 by 
      %a{href: 'http://pewniak747.info', target: '_new'} pewniak747
      \. Quotations from
      %a{href: 'http://www.quotedb.com/', target: '_new'} QuoteDb
