!!!
%head
  %title Quotes

  %meta{charset: "utf-8"}
  %link{rel: 'stylesheet', type: 'text/css', href: 'css/style.css'}
  %script{language: 'javascript', src: 'vendor/jquery.js'}
  %script{language: 'javascript', src: 'vendor/underscore.js'}
  %script{language: 'javascript', src: 'js/quotesaver.js'}

%body
  #quote
    %blockquote#content= @quote.content
    #author= @quote.author
  #actions
    - if @quote.tweet_url
      %a#tweet{href: @quote.tweet_url, target: '_new'} tweet it
      |
    %a#next{href: '/'} next quote
  #footer
    %p
      app and quotations curated by
      %a{href: 'http://pewniak747.info', target: '_new'} pewniak747.
      Source on
      %a{href: 'http://github.com/pewniak747/quotesaver', target: '_new'} GitHub
